# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]

# Secrets
.env

# Testing
.pytest_cache/
.coverage
htmlcov/

# Data
data/

# Logs
*.log

# IDE
.vscode/
.idea/

outputs/

#Text files
*.txt
*.exe


# OS
.DS_Store
Thumbs.db